@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
body {
    color: #90E0EF;
}

section {
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #376ff3;
    margin-left: 210px;
    padding-right: 50px;
}

#main {
    height: 90vh;
    padding: 180px 0px;
}



#intro {
    font-size: 5.4vw;
    /* padding-left: 210px; */
    
}

#lastname{
    color: white;
}

#caption {
    width: 50%;
    font-weight: 100;
    font-style: normal;
    font-size: 1.2vw;
    color: #376ff3;
}

#intro_pic img {
    width: 40%;
    position: relative;
    left: 47vw;
    top: -20vh;
    z-index: -1;
}

#about {
    position: relative;
    margin-top: 100px;
    top: 5vh;
    font-size: 1.5em;
    text-align: justify;
    height: 50vh;
}

#skills {
    position: relative;
    margin-top: 50px;
    /* height: 90vh; */

}

section h1 {
    margin-bottom: 100px;
    font-size: 3vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 10px;
  }


  
.grid-container div {
    width: 15vw;
    height: 20vh;
    margin: auto;
    text-align: center;
    font-size: 2vw;
}


.grid-container div img {
    height: 100%;
}

  .grid-item {
    padding: 2px;
    text-align: center;
  }

  .text {
    padding-top: 7vh;
}

#projects {
    margin-top: 150px;
}

.row {
    display: flex;
}

section h2 {
    
    margin: 50px 0px;
    font-size: 1.8vw;
}

.project-caption {
    text-align: justify;
    font-size: 1.3vw;
}

.project-img img {
    width: 30vw;
    margin-left: 30px;
}

.project-caption a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
.two {
    margin: 10px 0px 50px;
}